@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

#container {
    position: absolute;
    top: 10%;
    right: 10%;
}

#buttons {
    max-height: 46.5rem;
    overflow-x: none;
    overflow-y: scroll;
}

#buttons::-webkit-scrollbar {
    display: none;
}

.btn {
    background: rgba(45, 45, 45, 0.75);
    box-sizing: border-box;
    width: 20rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.75rem;
    border-radius: 0.325rem;
    border-left: 0.325rem solid rgba(119, 72, 126, 0.75);
    transition: ease-out 0.5s;
    overflow: wrap;
    overflow-wrap: break-word;
}

.btn:hover {
    background-color: rgba(119, 72, 126, 0.75);
    border-color: transparent;
    transition: ease-in 0.3s;
}

.btn > .title {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.btn > .description {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
}
